.input {
  background-color: $colorLightBackground;
  padding: 1.9rem 3.5rem;
  width: 100%;
  border: 0.1rem solid $colorLight;
  box-sizing: border-box;
  border-radius: 5rem;
  margin: 1.2rem 0;
  font-size: 1.4rem;
}
