.contact {
  &__social {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 6rem 0;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__description {
    font-size: 1.6rem;
    margin: 0 0 0 1rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 75%;
    margin: 0 auto;
  }

  &__icon {
    min-width: 4rem;
    display: flex;
    justify-content: center;
  }
  &-title {
    margin: 10rem 0 5rem 0;
  }
}
