.header {
  min-height: 95vh;
  padding-top: 12rem;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
  color: $colorWhite;
  position: relative;
}
