.partner {
  padding: 2rem;
  border: 0.1rem solid $colorLightBackground;
  text-align: center;
  width: 30rem;

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  &__title {
    margin: 10rem 0 8rem 0;
  }

  &-wrapper {
    margin-top: 10rem;
    margin-bottom: 8rem;
  }
}
