@use "../abstract/animations";
@use "../abstract/mixins" as m;
.slider {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin: 0 0 3rem 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;

  &__item {
    font-size: 4.8rem;
    font-weight: normal;
    text-align: center;
    flex: 0 0 100%;
    animation-name: slide;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }

  @include m.breakpoint("medium") {
    &__item {
      font-weight: bold;
    }
  }

  @include m.breakpoint("x-large") {
    max-width: 50%;
  }
}
