@use "../abstract/fonts";
@use "../abstract/mixins" as m;

.video {
  position: relative;
  max-width: 50rem;
  margin: 6rem 0;

  &__image {
    border-radius: 2.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: 0.3s;
  }

  &__button {
    width: 10rem;
    height: 10rem;
    background-color: fonts.$colorPrimary;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }

  &:hover {
    cursor: pointer;
    & .video {
      &__image {
        transform: translateY(-1rem);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }

      &__button {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }
  }

  @include m.breakpoint("x-large") {
    max-width: 100%;
  }
}
