@use "../abstract/fonts";
@use "../abstract/mixins" as m;

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  background-color: fonts.$colorWhite;
  border: 0.1rem solid fonts.$colorLight;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 1rem;
  max-width: 45rem;
  margin: 4rem auto 0 auto;
  &__value {
    font-weight: bold;
    font-size: 7.4rem;
  }

  &__features {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__feature {
    font-size: 1.5rem;
  }

  &.-highlight {
    background-color: fonts.$colorPrimary;
    color: fonts.$colorWhite;
  }
  @include m.breakpoint("x-large") {
    &.-highlight {
      padding: 6rem 0;
    }
  }
}

.pricing {
  padding: 10rem 0 8rem;
  &-title {
    margin: 0rem 0 5rem;
  }
}
