@-webkit-keyframes slide {
  30% {
    transform: translateX(-100%);
  }

  70% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(-200%);
  }
}

@keyframes slide {
  30% {
    transform: translateX(-100%);
  }

  70% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(-200%);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
